<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>梦中程序员管理后台--QQ:305530751</title>
    <link rel="shortcut icon" href="__public__/admin/img/logo.jpg" type="image/x-icon">
    <link href="__public__/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="__public__/admin/css/font-awesome.min.css" rel="stylesheet" />
    <link href="__public__/admin/css/weather-icons.min.css" rel="stylesheet" />
    <link href="__public__/admin/css/beyond.min.css" rel="stylesheet" type="text/css" />
</head>



<body>
    <!-- Loading Container -->
    <div class="loading-container">
        <div class="loader"></div>
    </div>
    <!--  /Loading Container -->
    <!-- Navbar -->
    <?php include_once('/../application/admin/view/common/header.html');?>
    <!-- /Navbar -->
    <!-- Main Container -->
    <div class="main-container container-fluid">
        <!-- Page Container -->
        <div class="page-container">
    {include file="common/left"/}

            <!-- Page Sidebar -->
            
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-home"></i>&nbsp;控制面板
                        </li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->
                <!-- Page Body -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="widget radius-bordered">
                                <div class="widget-header bordered-bottom bordered-themeprimary">
                                    <span class="widget-caption">栏目修改</span>
                                </div>
                                <div class="widget-body">
                                    <form class="form-horizontal" method="post" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label for="catename" class="col-sm-2 control-label no-padding-right">LOGO图</label>
                                            <div class="col-sm-6">
                                                {volist name="img" id="vo"} 
                                                <input type="hidden" value="{$vo.id}"  name="id" placeholder="" />
                                                <input type="file" value="{$vo.img}"  name="logo" placeholder="" />
                                                {/volist}
                                                <p class="help-block">请上传LOGO图</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-primary">修改</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
    
        <!-- /Page Container -->
        <!-- Main Container -->

    </div>

    <script src="__public__/admin/js/skins.min.js"></script>
    <!--Basic Scripts-->
    <script src="__public__/admin/js/jquery.min.js"></script>
    <script src="__public__/admin/js/bootstrap.min.js"></script>
    <script src="__public__/admin/js/slimscroll/jquery.slimscroll.min.js"></script>
    <!--Beyond Scripts-->
    <script src="__public__/admin/js/beyond.js"></script>
    <script>
        $(window).bind("load", function () {

            /*Sets Themed Colors Based on Themes*/
            themeprimary = getThemeColorFromCss('themeprimary');
            themesecondary = getThemeColorFromCss('themesecondary');
            themethirdcolor = getThemeColorFromCss('themethirdcolor');
            themefourthcolor = getThemeColorFromCss('themefourthcolor');
            themefifthcolor = getThemeColorFromCss('themefifthcolor');

        });
    </script>
</body>
<!--  /Body -->
</html>
