.margin-top-30{
	margin-top: 30px;
}
.margin-10{
	margin: 10px 0;
}
.padding-10{
	padding:10px;
}










.header{
	height: 88px;
}
.header-left{
	width: 40%;
	float: left;
	height: 88px;
	line-height: 88px;
}
.header-right{
	width: 60%;
	float: right;
	height: 88px;
	line-height: 88px;
}
/*头部样式结束*/


.banner{
	position: relative;
	height: 580px;
	background:#4d9d46;
	background:#6fc240;
	background:#5eb41f;
	padding-top:100px;
	color:#fcf7fb;
}
.banner-left{
	position: absolute;
	left: 100px;
}


.banner-right{
	position: absolute;
	right: 300px;
}
.banner-right>h1,.banner-right>h4,.banner-right>p{
	margin-top: 30px;
}
.banner-right>h1{
	font-size:50px;
	font-weight: bold;
}
.app-left{
	float: left;
	margin-right:50px;
}
.app-right{
	float: left;
	text-align: center;
}
.app-right>h5{
	border: 1px solid white;
	border-radius: 30px;
	margin:20px 10px 20px 10px;
	padding:10px 30px 10px 30px;

}
.app-right>h5:hover{
	background-color: yellow;
}


/*轮播图结束*/


.ai-1{
	float: left;
	width: 25%;
	margin: 30px 0 30px 0;
}
.ai-1>img{
}



/*ai结束*/




.main-item-1{
	position: relative;
	width: 33.33%;
	height: 300px;
	float: left;
}
.main-item-parent{
	display: block;
}


.main-item-list-children{
	position: absolute;
	width: 100%;
	display: none;
	left: 0;
	top: 0;
}
.main-item-list-children ul{
	width: 100%;
}

.main-item-list-children>ul>li{
	width: 50%;
	float: left;
	margin:10px 0;
	padding: 10px;
	border: 1px solid blue;
	border-radius:25px;
}
.main ul li:hover{
	background-color: #65cc01;
	color:white;
}
/*导航结束*/
.copyright{
	color:#a0a0a0;
	font-size: 12px;
}







































