.font-size-14{
	font-size: 12px;
	color: #a0a0a0;
}
.shop-img{
	width: 50%;
	float: left;
}
.shop-list{
	padding-left: 60px; 
	font-size: 14px;
	width: 50%;
	float: left;
}



/*购买栏目结束*/
.shop-project{
	width: 70%;
	float: left;
	padding: 30px 50px;
}
.shop-project li{
	display: inline-block;
}
.shop-project img{
	width: 100%;
}
.shop-teacher{
	width: 30%;
	float: left;
}