<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.3/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../public/static/css/register.css">
    <link rel="stylesheet" href="../../../public/static/css/about.css">
    <link rel="stylesheet" href="../../../public/static/css/help.css">


	<title>万题库首页</title>
	<body class="text-center">
		<div class="header panel panel-info clearfix">
			<div class="container">
				<ul class="top text-left">
					<li><h2>美好明天</h2></li>
					<li><h2>帮助中心</h2></li>
				</ul>
				
			</div>
		</div>	
		<hr/>	
		<!-- 头部结束 -->
		<div class="banner">
				<form action="">
					<img src="../../../public/static/img/12.png" alt="">
					<input type="text" class=" search form-control" placeholder="输入关键词">					
					<span><button class="btn btn-info">搜索</button></span>
				</form>
		</div>
<!-- 广告结束 -->
		
		<div class="container text-left">
			<div class="public">
				<h2 class="bold margin-30">公告</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<em class="lead">美好明天课程材料邮寄说明</em>
			</div>
		<!-- 公告结束 -->
	



			<div class="question margin-30 clearfix">
				<h3 class="question-title">问题分类</h3>
				<div class="question-main text-center margin-30">
					<div class="question-pic  clearfix">
						<img class="margin-30" src="../../../public/static/img/13_03.gif" alt="">
						<p class="margin-30">注册/登录</p>
					</div>
				</div>	
				<div class="question-main text-center margin-30">
					<div class="question-pic  clearfix">
						<img class="margin-30" src="../../../public/static/img/13_03.gif" alt="">
						<p class="margin-30">注册/登录</p>
					</div>
				</div>	
				<div class="question-main text-center margin-30">
					<div class="question-pic  clearfix">
						<img class="margin-30" src="../../../public/static/img/13_03.gif" alt="">
						<p class="margin-30">注册/登录</p>
					</div>
				</div>	
				<div class="question-main text-center margin-30">
					<div class="question-pic  clearfix">
						<img class="margin-30" src="../../../public/static/img/13_03.gif" alt="">
						<p class="margin-30">注册/登录</p>
					</div>
				</div>	
				<div class="question-main text-center margin-30">
					<div class="question-pic  clearfix">
						<img class="margin-30" src="../../../public/static/img/13_03.gif" alt="">
						<p class="margin-30">注册/登录</p>
					</div>
				</div>	
				<div class="question-main text-center margin-30">
					<div class="question-pic  clearfix">
						<img class="margin-30" src="../../../public/static/img/13_03.gif" alt="">
						<p class="margin-30">注册/登录</p>
					</div>
				</div>	
				<div class="question-main text-center margin-30">
					<div class="question-pic  clearfix">
						<img class="margin-30" src="../../../public/static/img/13_03.gif" alt="">
						<p class="margin-30">注册/登录</p>
					</div>
				</div>	
				<div class="question-main text-center margin-30">
					<div class="question-pic  clearfix">
						<img class="margin-30" src="../../../public/static/img/13_03.gif" alt="">
						<p class="margin-30">注册/登录</p>
					</div>
				</div>	
			</div>

		</div>



		{include file="common/footer"/}


	<script src="../../../public/static/js/jquery.min.js"></script>
	<script src="../../../public/static/js/help.js"></script>


	</body>
</html>