


<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"=Html.Raw(xmlns)>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>万题库VIP课堂--科学通关,懒人必备！</title>
    <meta name="description" content="万题库VIP学院,精品VIP课程互动学习,科学通关,懒人必备!" />
    <meta name="keywords" content="万题库VIP学院,万题库直播,万题库" />
    <script language="javascript" src="http://www.wantiku.com/Scripts/jquery/jquery-1.12.4.min.js"></script>
    <link href="/css/theme/style.css" rel="stylesheet" />
      <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.3/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../public/static/css/index.css">
    <link rel="stylesheet" href="../../../public/static/css/pay.css">
    <link rel="stylesheet" href="../../../public/static/css/shop.css">
    <link rel="stylesheet" href="../../../public/static/css/indexBannerJs.css">
    <title>万题库首页</title>
    
   
</head>
<body>
    <!--头部内容-->
    
                    <script>
                        $(document).ready(function () {
                            $(".New_subMenu_list").width(600);
                        });
                    </script>
<div class="container">
        {include file="common/indexNav"/}
 

    
<div class="order">
    <div class="order-Headline margin-30 bold">订单信息</div>
    <div class="order-cont">
        <div class="order-title">课程信息</div>
        <div class="classInfo">
            <div class="classInfo-title">2018年消防工程师【定制陪伴班】(案例分析)</div>
            <div class="classInfo-cont"><span class="margin-right">讲　　师</span>镇元子 黄狮 大鹏</div>
            <div class="classInfo-cont">
                <span class="margin-right">有 效 期</span>5月15日 - 11月18日
                <div class="classInfo-spice text-right">
                    课程价格：<span >￥2780</span>
                </div>
            </div>
            <div class="classInfo-cont"><span class="margin-right">总 课 时</span>102课时</div>
                <div class="classInfo-cont">
                    <span class="margin-right">特色服务</span>
                        <span><img src="__public__/static/img/class-icon_05.png" /><em>教材</em></span>
                </div>
                    </div>

        <!--优惠券start-->

            
               
                <div class="clear"></div>
            </div>
            <div class="address-cont-add" id="new-address" style="display:none">
                <div class="invoice-contl">
                    <div class="addAddress"><img src="/images/agreement/address-add.png" /><span>新增收货地址</span></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <form method="POST" id="choose_pay" class="margin-30">
            <div class="order-title margin-30">选择支付方式</div>
            <div class="pay-choose text-center">
                <ul>
                    <li class="pay-active" data-bank="weixin">
                        <img src="__public__/static/img/wechat.png" /><span><a href="{:url('Wx/wechat')}">微信支付</a></span>
                    </li>
                    <li data-bank="alipay">
                        <img src="__public__/static/img/zhifubao.png" alt=""><span><a href="{:url('Alipay/alipay')}">支付宝</a></span>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
           
            </div>
        </div>
    </div>
</div>
<div/>


    <div class="clearfix margin-30"></div>
    {include file="common/footer"/}


</script>
</body>
</html>
:{{
    
}}
''