	<div class="header panel panel-info clearfix">
		<div class="container">
				<div class="header-left">
					<a href="index.html"><img src="__public__/static/img/1.gif" alt="logo"></a>
				</div>
				<div class="header-right">
					<ul class="navbar nav-tabs">
						<li><a href="{:url('User/login')}">登录</a></li>
						<li><a href="{:url('User/register')}">注册</a></li>
					</ul>
				</div>
		</div>
	</div>	
		<hr/>	
		<!-- 头部结束 -->
		<div class="nav text-center">
			<ul class="navbar about-nav">
				<li><a href="{:url('Footer/index')}">题库首页</a></li>
				<li><a href="{:url('Footer/about')}">网站申明</a></li>
				<li><a href="{:url('Footer/call')}">联系方式</a></li>
			</ul>
		</div>	