<div class="page-sidebar" id="sidebar">
                <ul class="nav sidebar-menu">
                	<li class="active">
                		<a href="#">
                			<i class="menu-icon glyphicon glyphicon-home"></i>
                			<span class="menu-text">后台首页</span>
                		</a>
                	</li>
                    
                    
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon glyphicon glyphicon glyphicon-th"></i>
                            <span class="menu-text">智能识别管理</span>
                            <i class="menu-expand"></i>
                        </a> 
                        <ul class="submenu">
                            <li>
                                <a href="{:url('Ai/ai')}">
                                    <span class="menu-text">智能识别列表</span>
                                </a>
                            </li>
                            <li>
                                <a href="{:url('Ai/ai')}">
                                    <span class="menu-text">智能识别添加</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    
                    
                     <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon glyphicon glyphicon glyphicon-th"></i>
                            <span class="menu-text">页脚与关于本站管理</span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="{:url('Footer/footer')}">
                                    <span class="menu-text">内容</span>
                                </a>
                            </li>
                            <li>
                                <a href="{:url('Footer/edit')}">
                                    <span class="menu-text">修改</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    
                    
                      <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon glyphicon glyphicon glyphicon-th"></i>
                            <span class="menu-text">直播课程管理</span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="{:url('Live/live')}">
                                    <span class="menu-text">直播列表</span>
                                </a>
                            </li>
                            <li>
                                <a href="{:url('Live/add')}">
                                    <span class="menu-text">直播内容添加</span>
                                </a>
                            </li>
                        </ul>
                    </li>                                
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon glyphicon glyphicon glyphicon-th"></i>
                            <span class="menu-text">栏目管理</span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="{:url('Category/category')}">
                                    <span class="menu-text">栏目列表</span>
                                </a>
                            </li>
                            <li>
                                <a href="{:url('Category/add')}">
                                    <span class="menu-text">栏目添加</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                     <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon glyphicon glyphicon glyphicon-th"></i>
                            <span class="menu-text">栏目详情管理</span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="{:url('CateArticle/cateArticLe')}">
                                    <span class="menu-text">栏目详情列表</span>
                                </a>
                            </li>
                            <li>
                                <a href="{:url('CateArticle/add')}">
                                    <span class="menu-text">栏目详情添加</span>
                                </a>
                            </li>
                        </ul>
                    </li>
    
                    
                 

                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon glyphicon glyphicon glyphicon-th"></i>
                            <span class="menu-text">收费栏目表</span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="{:url('Vip/vip')}">
                                    <span class="menu-text">栏目列表</span>
                                </a>
                            </li>
                            <li>
                                <a href="{:url('Vip/add')}">
                                    <span class="menu-text">栏目添加</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                  <!--    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon glyphicon glyphicon glyphicon-th"></i>
                            <span class="menu-text">收费课程详情</span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="{:url('SaleList/saleList')}">
                                    <span class="menu-text">详情列表</span>
                                </a>
                            </li>
                            <li>
                                <a href="{:url('SaleList/add')}">
                                    <span class="menu-text">添加</span>
                                </a>
                            </li>
                        </ul>
                    </li>   
                 -->


                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon glyphicon glyphicon glyphicon-th"></i>
                            <span class="menu-text">首页管理</span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="{:url('Index/index')}">
                                    <span class="menu-text">首页内容</span>
                                </a>
                            </li>
                            <li>
                                <a href="{:url('Index/add')}">
                                    <span class="menu-text">内容添加</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon glyphicon glyphicon glyphicon-th"></i>
                            <span class="menu-text">直播管理</span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="{:url('Live/live')}">
                                    <span class="menu-text">直播内容</span>
                                </a>
                            </li>
                            <li>
                                <a href="{:url('Live/add')}">
                                    <span class="menu-text">内容添加</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon glyphicon glyphicon glyphicon-th"></i>
                            <span class="menu-text">用户管理</span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="{:url('Home/home')}">
                                    <span class="menu-text">用户列表</span>
                                </a>
                            </li>
                            <li>
                                <a href="{:url('Home/Add')}">
                                    <span class="menu-text">用户添加</span>
                                </a>
                            </li>
                        </ul>
                    </li>   
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon glyphicon glyphicon glyphicon-th"></i>
                            <span class="menu-text">管理员列表</span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="{:url('Admin/admin')}">
                                    <span class="menu-text">管理员列表</span>
                                </a>
                            </li>
                            <li>
                                <a href="{:url('Auth/auth')}">
                                    <span class="menu-text">管理员等级列表</span>
                                </a>
                                 <a href="{:url('AuthRule/authRule')}">
                                    <span class="menu-text">管理员权限列表</span>
                                </a>
                                 <a href="{:url('AuthAccess/AuthAccess')}">
                                    <span class="menu-text">管理员权限分配</span>
                                </a>
                            </li>
                        </ul>
                    </li>   
            


















                </ul>	
</div>