<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>梦中程序员管理后台--QQ:305530751</title>
    <link rel="shortcut icon" href="../../../public/admin/img/logo.jpg" type="image/x-icon">
    <link href="../../../public/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../public/admin/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../../public/admin/css/weather-icons.min.css" rel="stylesheet" />
    <link id="beyond-link" href="../../../public/admin/css/beyond.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="login-container">
        <div class="loginbox bg-white">
            <div class="loginbox-title">登录</div>
            <form action="" method="post">
                <div class="loginbox-or">
                    <div class="or-line"></div>
                </div>
                <div class="loginbox-textbox">
                    <input type="text" class="form-control" name="admin_user" placeholder="用户名" />
                </div>
                <div class="loginbox-textbox">
                    <input type="text" class="form-control" name="password" placeholder="密码" />
                </div>
                 <div class="loginbox-textbox">
                    <input type="text" class="form-control" name="captcha_src" placeholder="验证码" />
                    <div><img src="{:captcha_src()}" name="captcha" onclick="this.src='{:captcha_src()}'" alt=""></div>
                </div>
                <div class="loginbox-forgot">
                    <a href="">忘记密码?</a>
                </div>
                <div class="loginbox-submit">
                    <input type="submit" value="登录" class="btn btn-info">        
                </div>
            </form>
        </div>
        <div class="logobox">
        	<p class="text-center" style="font-size: 18px;font-weight: bold;text-shadow: 3px 3px 3px #FF0000;font-style: italic;">拜师QQ:305530751</p>
        </div>
    </div>

    <script src="assets/js/skins.min.js"></script>
    <!--Basic Scripts-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/slimscroll/jquery.slimscroll.min.js"></script>
    <!--Beyond Scripts-->
    <script src="assets/js/beyond.js"></script>
    <script>
        $(window).bind("load", function () {

            /*Sets Themed Colors Based on Themes*/
            themeprimary = getThemeColorFromCss('themeprimary');
            themesecondary = getThemeColorFromCss('themesecondary');
            themethirdcolor = getThemeColorFromCss('themethirdcolor');
            themefourthcolor = getThemeColorFromCss('themefourthcolor');
            themefifthcolor = getThemeColorFromCss('themefifthcolor');

        });
    </script>
</body>
<!--  /Body -->
</html>
